/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
}

.pie-chart {
  max-width: 350px;
  max-height: 250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}


.bar-chart {
  max-width: 500px;
  max-height: 400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}



